

body {
    background-image: url(../imagens/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #674BAF;
    color: white;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 1.5;
}

a {
    color: #674BAF;
}

main {
    display: flex;
    flex-direction: row;
}

.imgs {
    width: 55%;
    margin-left: 90px;
}

.logo {
    width: 200px;
    margin: 50px 0px 50px 0px;
}

.img-hero {
    width: 650px;
    margin-left: -35px;
}

.text {
    width: 410px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -6px;
    position: relative;
    top: 48px;
}

h1 {
    padding-bottom: 20px;
    font-size: 35px;
}

p {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 1em;
    width: 126%;
    padding-bottom: 25px;
}

.btn {
    background-color: white;
    color: #674BAF;
    width: 175px;
    height: 50px;
    border: none;
    border-radius: 35px;
    font-size: 16px;
    box-shadow: 7px 7px 12px -8px rgba(0, 0, 0, 0.7);
}

.btn:hover {
    background-color: #E882E8;
    color: white;
}

.icons {
    width: 100px;
    padding-top: 655px;
    display: flex;
    justify-content: space-between;
    
}

.fa-brands {
    position: relative;
    left: -80px;
    border: 2px solid white;
    border-radius: 500px;
    padding: 10px 10px 10px 10px;
}

.fa-brands:hover {
    color: #E882E8;
    border-color: #E882E8;
}

.fa-twitter {
    margin-left: 20px;
    margin-right: 20px;
}

.attribuition {
    font-size: 15px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 35px;
}

.attribuition a {
    color: white;
}

.attribuition a:hover {
    color: #E882E8;
}

.a:hover {
    color: #E882E8;
}

@media screen and (max-width: 1175px){

    .logo {
        position: relative;
        left: -60px;
        width: 190px;
    }

    .img-hero {
        position: relative;
        right: 15px;
        width: 120%;
    }

    .text {
        position: relative;
        left: 100px;
    }

    h1 {
        width: 265px;
        height: 30%;
        font-size: 35px;
        line-height: 43px;
        margin-bottom: 35px;
    }

    p {
        width: 219px;
        height: 25%;
        font-size: 15px;
        position: relative;
        bottom: 20px;
    }

    .icons {
        position: relative;
        right: 40px;
        padding-bottom: 0px;
        margin-right: 0px;
    }

}

body {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 770px) {
    body {
        background-image: url(../imagens/bg-mobile.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100%; /* Use 100vh para ocupar a altura total da viewport */
    }

    .logo {
        width: 155px;
    }

    .img-hero {
        position: relative;
        right: 50px;
    }    

    .text {
        width: 100px;
        font-size: medium;
        margin-left: -20px; /* Use margin-left em vez de position: relative; left: -20px; */
    }

    h1 {
        width: 12em;
        font-size: 30px;
        line-height: normal;
        margin-left: -240px;
    }

    p {
        font-size: 1em;
        width: 320%;
        margin-left: -220px;
    }

    .btn {
        position: relative;
        left: -175px;
    }

    .icons {
        margin-right: -170px;
        margin-top: -570px;
    }

    .attribuition {
        margin-top: -2px;
        padding-bottom: 0;
        margin-bottom: 0;
        position: relative;
        padding-bottom: 20px;
    }

    .attribuition::after {
        content: "";
        display: table;
        clear: both;
    }
}

@media screen and (max-width: 540px){
    h1 {
       width: 285px;
       margin-left: -215px;
    }

    p {
        width: 280px;
        margin-left: -215px;
    }

    .btn {
        position: relative;
        left: -170px;
    }

    .icons {
        margin-right: -179px;
        margin-top: -570px;
        padding-bottom: 30px;
    }

    .attribuition {
        margin-top: -20px;
        position: relative;
        padding-bottom: 20px;
    }
}
